/* Definición de variables de colores */
$background-color: #242424; // Gris azulado claro
$text-color: #F2F4F8; // Color de texto en blanco

/* Estilos para las solapas */
.tabs.is-boxed.is-centered {
  li {
    // Tus estilos existentes para li

    a {
      // Incrementa la especificidad aquí para sobrescribir otros estilos
      background-color: $background-color !important;
      color: $text-color !important;

      &:hover {
        color: darken($text-color, 10%) !important;
      }
    }
  }

  // Y también para cuando li tiene la clase .is-active
  li.is-active a {
    background-color: darken($background-color, 5%) !important;
    color: $text-color !important;
    border-bottom-color: $text-color !important; // O lo que necesites para sobrescribir
  }
}

  
  /* Estilo para el botón "Traer DataTable" */
  .custom-button {
    background-color: $background-color !important;
    color: $text-color !important;
    border: none !important;
    padding: 0.75rem 1.5rem !important;
    font-size: 1rem !important;
    cursor: pointer !important;
    transition: background-color 0.3s, color 0.3s !important;
  
    &:hover {
      background-color: darken($background-color, 5%) !important;
      color: lighten($text-color, 10%) !important;
    }
  }