<!DOCTYPE html>
<html lang="es" class="error-html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error Técnico</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body class="error-body">
    <div class="error-container">
        <h1 class="title">Oops... Parece que algo salió mal.</h1>
        <p class="subtitle">Lo sentimos, estamos experimentando problemas técnicos. Por favor, inténtalo de nuevo más tarde.</p>
        <div>
            <img src="/images/techdiff.jpg" class="error-image" alt="Error Técnico">
        </div>
        <div>
            <a href="/" class="button is-primary">Volver al inicio</a>
            <a href="/login" class="button is-light">Iniciar sesión</a>
        </div>
    </div>
</body>
<script src="/js/bundle.js"></script>
</html>

